#nav {
  color: #3b5998; }

.title {
  color: #3b5998;
  font-size: 70px;
  position: absolute;
  top: 300px;
  left: 30px; }

.subtitle {
  color: #3b5998;
  font-size: 30px;
  position: absolute;
  top: 400px;
  left: 30px; }

/*
.logoIG {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
} */
.flechaIndex {
  width: auto;
  height: 80px;
  position: absolute;
  top: 1100px;
  left: 760px; }

/* Volver */
.volver {
  color: #ff8040; }

.volver:hover {
  color: #ff8040; }

.volver:active {
  color: #3b5998; }

.volver:focus {
  color: #3b5998; }

/* ------------------------- */
.flechaIndex {
  display: flex;
  flex-direction: column;
  background-color: #ff8040;
  border: 1px; }

.flexIndexNav {
  width: 100px;
  height: 100px;
  justify-content: flex-end; }

