* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* Colores */

  $myBlue: #3b5998;

  /* ------------------ */
  
  header {
      display: flex;
      justify-content: space-around;
  }

  header img {
      width: 4rem;
      border: none;
  }

  header nav {
    display: flex;
    width: 90%;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;;
  }

  header nav a{
    color: $myBlue;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: 10px;
  }

  header nav a:hover {
      background-color: #3b5998;
      color: white;
  }

  h1{
      font-family: 'Kanit', sans-serif;
      font-size: 5rem;
      color: white;
      background-color: $myBlue;
      text-align: center;
  }

  .subtitulo {
    color: $myBlue;
    font-family: 'Kanit', sans-serif;
    margin: 2rem;
  }
  h4 {
    font-family: 'Kanit', sans-serif;
    padding: .5rem 2rem;
    background-color: $myBlue;
    color: white;
    width: 100%;
  }
  .indexContainer {
    display: flex;
    height: 60vh;
    flex-direction: column;
    text-align: center;
  }

  .productosDestacados {
    display: flex;
    justify-content: space-around;
  }

  .producto {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: .5rem;
    width: 40%;
    align-items: center;
  }

  p {
    justify-content: flex-end; 
    font-family: 'Kanit', sans-serif; 
  }

  img {
    width: 60%;
    margin: 1rem;
    border: 2px solid black;
  }

  footer {
    display: flex;
    justify-content:  center;
    margin-bottom: 1rem;
    align-items: center;
  }

  footer a img {
    width: 2.5rem;
    border: none;
  }